#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
}
.photograph-header article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 40px 0 40px;
}
.photograph-header article > div {
    max-width: 33%;
}
.photograph-header article h1 {
    color: #d3573c;
    font-size: 64px;
    margin: 0;
    line-height: 0.8;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}
.location_24px {
    color: #901c1c;
    font-size: 24px;
}
.tagline {
    font-size: 18px;
}
.insert {
    background-color: #db8876;
    position: fixed;
    bottom: 0;
    right: 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 375px;
}
.insert div {
    display: flex;
    flex-direction: row;
}
.insert p {
    font-size: 24px;
}
#contact_modal {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: rgb(192 192 192 / 0.5);
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}
.modal #messageInput {
    height: 200px;
}
#lightBox-wrapper {
    /* display: none; */
    width: 100%;
    height: 100%;
    background-color: rgb(192 192 192 / 0.6);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
#lightBox {
    width: 1200px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#lightBox_media-container {
    width: 1000px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#lightBox img,
#lightBox video {
    grid-column: 1;
    grid-row: 1;
}
.lightBoxFocus {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
#lightBoxCloseBtn {
    position: absolute;
    top: 0%;
    right: 0%;
    cursor: pointer;
}
#lightBoxArrowLeft {
    position: absolute;
    left: 0%;
    top: calc(50% - 48px);
    cursor: pointer;
}
#lightBoxArrowRight {
    position: absolute;
    right: 0%;
    top: calc(50% - 48px);
    cursor: pointer;
}

#mediaSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    margin: 75px 50px 0 75px;
}
.mediaCard {
    margin-bottom: 25px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mediaCard_Media {
    object-fit: cover;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
.mediaCard_Media,
.mediacard_ico,
.mediaCard h3 {
    cursor: pointer;
}
.mediaCard_Info,
.mediaCard_Info div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mediaCard h3 {
    color: #901c1c;
    font-size: 24px;
    margin-right: 20px;
}
.mediaCard p {
    font-size: 24px;
}
#SortContainer {
    font-size: 18px;
    font-weight: 700;
    margin: 50px 0 0 75px;
    display: flex;
    align-items: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
    width: 170px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: #901c1c;
    height: 100% !important;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: '';
    top: 30px;
    right: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #ffffff;

    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    height: 70px;
    text-align: center;
    border-top: 2px solid #fafafa;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #901c1c;
    /* border-top: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa; */
    /* height: 70px; */
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
